@use 'base' as *;

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
    padding: 0;
    display: block;
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    > ul {
        > li {
            position: relative;
            white-space: nowrap;
        }
    }
    a {
        display: flex;
        align-items: center;
        color: $dark_gray;
        padding: 10px 18px;
        margin-bottom: 8px;
        transition: 0.3s;
        font-size: 15px;
        border-radius: 50px;
        background: #f2f3f5;
        height: 56px;
        width: 100%;
        overflow: hidden;
        transition: 0.3s;
        &:focus {
            display: flex;
            align-items: center;
            color: $dark_gray;
            padding: 10px 18px;
            margin-bottom: 8px;
            transition: 0.3s;
            font-size: 15px;
            border-radius: 50px;
            background: #f2f3f5;
            height: 56px;
            width: 100%;
            overflow: hidden;
            transition: 0.3s;
            i {
                font-size: 20px;
            }
            span {
                padding: 0 5px 0 7px;
                color: $dark_gray;
            }
        }
        i {
            font-size: 20px;
        }
        span {
            padding: 0 5px 0 7px;
            color: $dark_gray;
        }
        &:hover {
            color: $white;
            background: #0563bb;
            width: 100%;
            color: $white;
            span {
                color: $white;
                display: block;
            }
        }
    }
    .active {
        color: $white;
        background: #0563bb;
        &:focus {
            color: $white;
            background: #0563bb;
            span {
                color: $white;
            }
        }
        span {
            color: $white;
        }
    }
    li {
        &:hover {
            > a {
                color: $white;
                background: #0563bb;
                width: 100%;
                color: $white;
                span {
                    color: $white;
                    display: block;
                }
            }
        }
    }
}

/**
* Desktop Navigation 
*/
/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
    i {
        color: $dark_gray;
    }
}
.mobile-nav-active {
    overflow: hidden;
    #header {
        left: 0;
    }
    .mobile-nav-toggle {
        color: $white;
        background-color: $primary;
    }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url('../img/hero-bg.jpg') top right no-repeat;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    h1 {
        margin: 0;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        color: $dark_gray;
    }
    p {
        color: $dark_gray;
        margin: 15px 0 0 0;
        font-size: 26px;
        font-family: $font-family_3;
        span {
            color: $primary;
            letter-spacing: 1px;
        }
    }
    .social-links {
        margin-top: 30px;
        a {
            font-size: 24px;
            display: inline-block;
            color: $dark_gray;
            line-height: 1;
            margin-right: 20px;
            transition: 0.3s;
            &:hover {
                color: $primary;
            }
        }
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
    h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: $dark_gray;
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 120px;
            height: 1px;
            background: #ddd;
            bottom: 1px;
            left: calc(50% - 60px);
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 3px;
            background: #0563bb;
            bottom: 0;
            left: calc(50% - 20px);
        }
    }
    p {
        margin-bottom: 0;
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    .content {
        h3 {
            font-weight: 700;
            font-size: 26px;
            color: $light_gray;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
            }
            strong {
                margin-right: 10px;
            }
            i {
                font-size: 16px;
                margin-right: 5px;
                color: $primary;
                line-height: 0;
            }
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
    .count-box {
        padding: 30px 30px 25px 30px;
        margin-top: 30px;
        width: 100%;
        position: relative;
        text-align: center;
        background: #fff;
        i {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 24px;
            background: #0563bb;
            color: $white;
            border-radius: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
        }
        span {
            font-size: 36px;
            display: block;
            font-weight: 600;
            color: $dark_2;
        }
        p {
            padding: 0;
            margin: 0;
            font-family: $font-family_2;
            font-size: 14px;
        }
    }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills {
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;
        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 600;
            font-family: $font-family_3;
            color: $dark_gray;
            .val {
                float: right;
                font-style: normal;
            }
        }
    }
    .progress-bar-wrap {
        background: #f2f3f5;
    }
    .progress-bar {
        width: 1px;
        height: 10px;
        transition: 0.9s;
        background-color: $primary;
    }
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume {
    .resume-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: $dark_gray;
    }
    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid #0563bb;
        position: relative;
        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $font-family_3;
            color: $primary;
            margin-bottom: 10px;
        }
        h5 {
            font-size: 16px;
            background: #f7f8f9;
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 20px;
            li {
                padding-bottom: 10px;
            }
        }
        &:last-child {
            padding-bottom: 0;
        }
        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: #fff;
            border: 2px solid #0563bb;
        }
    }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
    .portfolio-item {
        margin-bottom: 30px;
    }
    #portfolio-filters {
        padding: 0;
        margin: 0 auto 25px auto;
        list-style: none;
        text-align: center;
        background: #fff;
        border-radius: 50px;
        padding: 2px 15px;
        li {
            cursor: pointer;
            display: inline-block;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            color: $dark_3;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $primary;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        li.filter-active {
            color: $primary;
        }
    }
    .portfolio-wrap {
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        background: rgba(69, 80, 91, 0.8);
        &::before {
            content: '';
            background: rgba(255, 255, 255, 0.7);
            position: absolute;
            left: 30px;
            right: 30px;
            top: 30px;
            bottom: 30px;
            transition: all ease-in-out 0.3s;
            z-index: 2;
            opacity: 0;
        }
        .portfolio-info {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            z-index: 3;
            transition: all ease-in-out 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &::before {
                display: block;
                content: '';
                width: 48px;
                height: 48px;
                position: absolute;
                top: 35px;
                left: 35px;
                border-top: 3px solid #d7dce1;
                border-left: 3px solid #d7dce1;
                transition: all 0.5s ease 0s;
                z-index: 9994;
            }
            &::after {
                display: block;
                content: '';
                width: 48px;
                height: 48px;
                position: absolute;
                bottom: 35px;
                right: 35px;
                border-bottom: 3px solid #d7dce1;
                border-right: 3px solid #d7dce1;
                transition: all 0.5s ease 0s;
                z-index: 9994;
            }
            h4 {
                font-size: 20px;
                color: $dark_gray;
                font-weight: 600;
            }
            p {
                color: $dark_gray;
                font-size: 14px;
                text-transform: uppercase;
                padding: 0;
                margin: 0;
            }
        }
        .portfolio-links {
            text-align: center;
            z-index: 4;
            a {
                color: $dark_gray;
                margin: 0 2px;
                font-size: 28px;
                display: inline-block;
                transition: 0.3s;
                &:hover {
                    color: $blue_2;
                }
            }
        }
        &:hover {
            &::before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
            }
            .portfolio-info {
                opacity: 1;
                &::before {
                    top: 15px;
                    left: 15px;
                }
                &::after {
                    bottom: 15px;
                    right: 15px;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
    .portfolio-details-slider {
        img {
            width: 100%;
        }
        .swiper-pagination {
            margin-top: 20px;
            position: relative;
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: $white;
                opacity: 1;
                border: 1px solid #0563bb;
            }
            .swiper-pagination-bullet-active {
                background-color: $primary;
            }
        }
    }
    .portfolio-info {
        padding: 30px;
        box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
        h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }
        ul {
            list-style: none;
            padding: 0;
            font-size: 15px;
            li {
                + {
                    li {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .portfolio-description {
        padding-top: 30px;
        h2 {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            padding: 0;
        }
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
    .icon-box {
        text-align: center;
        padding: 70px 20px 80px 20px;
        transition: all ease-in-out 0.3s;
        background: #fff;
        box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
        .icon {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: ease-in-out 0.3s;
            position: relative;
            i {
                font-size: 36px;
                transition: 0.5s;
                position: relative;
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
                path {
                    transition: 0.5s;
                    fill: #f5f5f5;
                }
            }
        }
        h4 {
            font-weight: 600;
            margin: 10px 0 15px 0;
            font-size: 22px;
            a {
                color: $dark_gray;
                transition: ease-in-out 0.3s;
            }
        }
        p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }
        &:hover {
            border-color: $white;
            box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
        }
    }
    .iconbox-blue {
        i {
            color: $blue_3;
        }
        &:hover {
            .icon {
                i {
                    color: $white;
                }
                path {
                    fill: #47aeff;
                }
            }
        }
    }
    .iconbox-orange {
        i {
            color: $color_10;
        }
        &:hover {
            .icon {
                i {
                    color: $white;
                }
                path {
                    fill: #ffa76e;
                }
            }
        }
    }
    .iconbox-pink {
        i {
            color: $red;
        }
        &:hover {
            .icon {
                i {
                    color: $white;
                }
                path {
                    fill: #e80368;
                }
            }
        }
    }
    .iconbox-yellow {
        i {
            color: $yellow;
        }
        &:hover {
            .icon {
                i {
                    color: $white;
                }
                path {
                    fill: #ffbb2c;
                }
            }
        }
    }
    .iconbox-red {
        i {
            color: $orange;
        }
        &:hover {
            .icon {
                i {
                    color: $white;
                }
                path {
                    fill: #ff5828;
                }
            }
        }
    }
    .iconbox-teal {
        i {
            color: $color_14;
        }
        &:hover {
            .icon {
                i {
                    color: $white;
                }
                path {
                    fill: #11dbcf;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    .section-header {
        margin-bottom: 40px;
    }
    .testimonials-carousel {
        overflow: hidden;
    }
    .testimonials-slider {
        overflow: hidden;
    }
    .testimonial-item {
        text-align: center;
        .testimonial-img {
            width: 120px;
            border-radius: 50%;
            border: 4px solid #fff;
            margin: 0 auto;
        }
        h3 {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: $dark_1;
        }
        h4 {
            font-size: 14px;
            color: $color_16;
            margin: 0 0 15px 0;
        }
        .quote-icon-left {
            color: $color_17;
            font-size: 26px;
            display: inline-block;
            left: -5px;
            position: relative;
        }
        .quote-icon-right {
            color: $color_17;
            font-size: 26px;
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;
        }
        p {
            font-style: italic;
            margin: 0 auto 15px auto;
        }
    }
    .swiper-pagination {
        margin-top: 20px;
        position: relative;
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: $white;
            opacity: 1;
            border: 1px solid #0563bb;
        }
        .swiper-pagination-bullet-active {
            background-color: $primary;
        }
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    .info {
        width: 100%;
        background: #fff;
        i {
            font-size: 20px;
            color: $primary;
            float: left;
            width: 44px;
            height: 44px;
            background: #eef7ff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
        }
        h4 {
            padding: 0 0 0 60px;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;
            color: $dark_gray;
        }
        p {
            padding: 0 0 0 60px;
            margin-bottom: 0;
            font-size: 14px;
            color: $light_gray;
        }
        .email {
            margin-top: 40px;
            &:hover {
                i {
                    background: #0563bb;
                    color: $white;
                }
            }
        }
        .phone {
            margin-top: 40px;
            &:hover {
                i {
                    background: #0563bb;
                    color: $white;
                }
            }
        }
        .address {
            &:hover {
                i {
                    background: #0563bb;
                    color: $white;
                }
            }
        }
    }
    .php-email-form {
        width: 100%;
        background: #fff;
        .form-group {
            padding-bottom: 8px;
        }
        .error-message {
            display: none;
            color: $white;
            background: #ed3c0d;
            text-align: left;
            padding: 15px;
            font-weight: 600;
            br {
                + {
                    br {
                        margin-top: 25px;
                    }
                }
            }
        }
        .sent-message {
            display: none;
            color: $white;
            background: #18d26e;
            text-align: center;
            padding: 15px;
            font-weight: 600;
        }
        .loading {
            display: none;
            background: #fff;
            text-align: center;
            padding: 15px;
            &:before {
                content: '';
                display: inline-block;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                margin: 0 10px -6px 0;
                border: 3px solid #18d26e;
                border-top-color: $border-top-color_2;
                -webkit-animation: animate-loading 1s linear infinite;
                animation: animate-loading 1s linear infinite;
            }
        }
        input {
            border-radius: 4px;
            box-shadow: none;
            font-size: 14px;
            height: 44px;
        }
        textarea {
            border-radius: 4px;
            box-shadow: none;
            font-size: 14px;
            padding: 10px 12px;
        }
        button[type='submit'] {
            background: #0563bb;
            border: 0;
            padding: 10px 35px;
            color: $white;
            transition: 0.4s;
            border-radius: 50px;
            &:hover {
                background: #0678e3;
            }
        }
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #f7f8f9;
    color: $dark_gray;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    h3 {
        font-size: 36px;
        font-weight: 700;
        position: relative;
        font-family: $font-family_3;
        padding: 0;
        margin: 0 0 15px 0;
    }
    p {
        font-size: 15;
        font-style: italic;
        padding: 0;
        margin: 0 0 40px 0;
    }
    .social-links {
        margin: 0 0 40px 0;
        a {
            font-size: 18px;
            display: inline-block;
            background: $primary;
            color: $white;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
            &:hover {
                background: #0678e3;
                color: $white;
                text-decoration: none;
            }
        }
    }
    .copyright {
        margin: 0 0 5px 0;
    }
    .credits {
        font-size: 13px;
    }
}
