@use '../base' as *;

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
    .count-box {
        padding: 30px 30px 25px 30px;
        margin-top: 30px;
        width: 100%;
        position: relative;
        text-align: center;
        background: $white;
        i {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 24px;
            background: $primary;
            color: $white;
            border-radius: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
        }
        span {
            font-size: 36px;
            display: block;
            font-weight: 600;
            color: $dark_2;
        }
        p {
            padding: 0;
            margin: 0;
            font-family: $font-family_2;
            font-size: 14px;
        }
    }
}
