@use '../base' as *;

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}
