@use '../base' as *;

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url('../img/bg_bggenerator_com.jpg') top right no-repeat;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        background: linear-gradient(
            299deg,
            transparent 0%,
            rgba(255, 255, 255, 0.55) 62%
        );
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    h1 {
        margin: 0;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        color: $dark_gray;
    }
    p {
        color: $dark_gray;
        margin: 15px 0 0 0;
        font-size: 26px;
        font-family: $font-family_3;
        span {
            color: $primary;
            letter-spacing: 1px;
        }
    }
    .social-links {
        margin-top: 30px;
        a {
            font-size: 24px;
            display: inline-block;
            color: $dark_gray;
            line-height: 1;
            margin-right: 20px;
            transition: 0.3s;
            &:hover {
                color: $primary;
            }
        }
    }
}
