@use '../base' as *;

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills {
    display: grid;
    place-items: center;

    &-content {
        div {
            display: grid;
            grid-template-areas:
                'logo name'
                'logo link';
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 1fr;
        }
        &-logo {
            font-size: larger;
            display: grid;
            place-items: center;
            grid-area: logo;
            padding: 1.5em;
        }
        &-name {
            grid-area: name;
            align-self: end;
            font-size: large;
        }
        &-link {
            grid-area: link;
            font-size: small;
        }
    }
}
