@use '../base' as *;

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills {
    display: grid;
    place-items: center;
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;
        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 600;
            font-family: $font-family_3;
            color: $dark_gray;
            .val {
                float: right;
                font-style: normal;
            }
        }
    }
    .progress-bar-wrap {
        background: #f2f3f5;
    }
    .progress-bar {
        width: 1px;
        height: 10px;
        transition: 0.9s;
        background-color: $primary;
    }
}